.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

/*#region FORM*/
form {
  background-color: #ffffff8e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

form div {
  margin-bottom: 12px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 1px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
button,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  border: 1px solid #203801;
  background-color: #81af46;
  color: #ffffff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

select {
  width: 100px;
}

textarea {
  height: 150px;
  resize: none;
}

button:hover {
  background-color: #608037;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}


.btn-disabled {
  background-color: transparent;
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
}

.inlineGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.inlineGroup .small {
  flex: 1;
}

.inlineGroup .large {
  flex: 3;
}

p.errorMessage {
  color: red;
  font-size: 12px;
}


/*#endregion*/